APP_NAME=MAIA
APP_ENV=development
LOG_LEVEL=INFO

ENCRYPTION_KEY=
DATABASE_URL=sqlite:///./maia.db

GEMINI_API_KEY=
BRAPI_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AZURE_CLIENT_ID=
AZURE_TENANT_ID=
AZURE_CLIENT_SECRET=
